.content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-top: solid #f5f5f5 2px;
    border-bottom: solid #f5f5f5 2px;
    display: flex;
    width: 100vw;
    padding: 2rem;
    &_categories {
        display: flex;       
        justify-content: space-around;
        padding: 2rem;   
    }
    &_category{       
        padding: 1rem;
        &_img{
            border-radius: 50%;
            width: 200px;
            height:200px
        }
        &_type{
            text-align: center;
        }
    }
    &_title {
        font-size: 18px;        
    }
}